/* Estilos globais */
body {
  font-family: 'Arimo', sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  color: #00698f;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 200px; /* Ajuste para aproximadamente 200px */
  background-color: #0077b6;
  padding: 20px;
}

.iconLogo {
  align-content: center;
  display: flex;
  width: 100%;
  max-width: 150px;
  max-height: auto;
  margin-bottom: 20px;
}

.sidebar button {
  margin-left: 0px;
  width: 100%;
  margin-bottom: 5px;
  background-color: #0077b6;
  color: #c9dbff;
  cursor: pointer; /* Adicionado para mudar o ícone do mouse */
}

.sidebar-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  text-align: left;
  cursor: pointer; /* Adicionado para mudar o ícone do mouse */
}

.sidebar-button:hover {
  /* background-color: #026ba4; */
  text-shadow: 
    0 0 3px rgba(255, 255, 255, 0.5),
    0 0 5px rgba(255, 255, 255, 0.5),
    0 0 10px rgba(255, 255, 255, 0.5),
    0 0 15px rgba(0, 255, 255, 0.5);
  cursor: pointer; /* Adicionado para mudar o ícone do mouse */
}

.sidebar-button img.iconButton {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.button-container {
  display: flex;
  align-items: center;
}

/* Conteúdo central */
.content-central {
  margin-left: 220px; /* Ajuste para compensar a largura da sidebar */
  padding: 20px;
}

.iconButton {
  margin-left: 0px;
  max-width: 40px;
  height: 25px;
}


